/* Home Page */
.button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border-radius: var(--br-md);
    font-size: var(--fs-sm);
    font-weight: var(--fw-medium);
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: var(--accent-color);
    opacity: 0.7;
  }
  
  .container {
    position: relative;
    margin: 2rem auto;
    padding: 1rem;
    width: 100%; /* adjust width for smaller screens */
    /* margin-top: 50px; */
  }
  
  .actionsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    /* gap: 20px */
  }
  
  .todoInput {
    background-color: var(--secondary-color);
    width: 100%; /* adjust width for smaller screens */
    height: 50px;
    border-radius: var(--br-2xl);
    display: flex;
    align-items: center;
  }
  
  .inputContainer {
    width: 100%; /* adjust width for smaller screens */
  }
  
  #inputField {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    padding: 10px 0px;
    margin-left: 15px;
  }
  
  .mainContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  /* adjust styles for smaller screens */
  @media (max-width: 767px) {
    .container {
      padding: 1rem;
    }
  
    .todoInput {
      height: 40px;
    }
  
    #inputField {
      font-size: 16px;
    }
  }
  
  /* adjust styles for tablets */
  @media (min-width: 768px) and (max-width: 1023px) {
    .container {
      width: 75%;
    }
  
    .todoInput {
      width: 70%;
    }
  }
  
  /* adjust styles for larger screens */
  @media (min-width: 1024px) {
    .container {
      width: 850px;
    }
  
    .todoInput {
      width: 70%;
    }
  }